.wrapper {
    width: 100%;
    font-size: inherit;
    background-color: inherit;
    border: 1px solid var(--color-grey);
    color: var(--color-white);
    padding: var(--spacing-16) var(--spacing-40) var(--spacing-16) var(--spacing-4);
    margin-right: var(--spacing-20);
}