.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-52);
  margin: var(--spacing-80);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.textBlock {
  flex: 1;
  max-width: 40%;

  h2 {
    font-size: var(--font-size-36);
    font-weight: var(--font-weight-700);
    line-height: var(--spacing-48);
    margin-bottom: var(--spacing-16);
  }

  h3 {
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-700);
    line-height: var(--spacing-32);
    margin-bottom: var(--spacing-16);
  }

  p {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-400);
    line-height: var(--spacing-28);
  }
}

.imageBlock {
  position: relative;
  width: 50%;
  height: 500px;

  .image {
    max-height: 500px;
    width: 500px;
    object-fit: contain;
  }

  .decorationYellow {
    position: absolute;
    top: 30%;
    left: -50px;
    width: 100px;
    height: 120px;
    background-color: var(--color-yellow);
    border-top-left-radius: var(--border-radius-half-circle);
  }

  .decorationPurple {
    position: absolute;
    bottom: -24px;
    left: 105px;
    width: 74px;
    height: 74px;
    background-color: var(--color-purple);
    border-radius: var(--border-radius-circle);
  }
}

@media (max-width: 1200px) {
  .row {
    flex-direction: column;
  }

  .row:first-child {
    .imageBlock {
      order: 1;
    }

    .textBlock {
      order: 2;
    }
  }

  .decorationYellow {
    display: none;
  }

  .decorationPurple {
    display: none;
  }

  .textBlock,
  .imageBlock {
    max-width: 100%;
  }

  .imageBlock {
    height: 500px;
    width: 100%;
    margin-bottom: var(--spacing-16);
  }
}

@media (max-width: 768px) {
  .textBlock {
    h2 {
      font-size: var(--font-size-28);
      line-height: var(--spacing-36);
    }

    h3 {
      font-size: var(--font-size-20);
      line-height: var(--spacing-28);
    }

    p {
      font-size: var(--font-size-14);
      line-height: var(--spacing-24);
    }
  }

  .imageBlock {
    height: 300px;

    img {
      height: 300px;
    }
  }
}

@media (max-width: 576px) {
  .wrapper {
    margin: var(--spacing-40);
    gap: var(--spacing-40);
  }

  .textBlock {
    h2 {
      font-size: var(--font-size-24);
      line-height: var(--spacing-32);
    }

    h3 {
      font-size: var(--font-size-18);
      line-height: var(--spacing-24);
    }

    p {
      font-size: var(--font-size-12);
      line-height: var(--spacing-20);
    }
  }

  .imageBlock {
    min-height: 200px;

    .image {
      height: 300px;
    }
  }
}