.button {
    cursor: pointer;
    font-size: inherit;
    background-color: var(--color-white);
    border: none;
    padding: var(--spacing-16) var(--spacing-40);
    margin-right: var(--spacing-20);
    
    &:hover {
        box-shadow: var(--spacing-8) var(--spacing-4) var(--spacing-4) var(--color-dark);
    }
  }