.sectionAuthor {
  position: relative;
  text-align: center;
  gap: var(--spacing-40);
  padding: var(--spacing-80);
}

.sectionTitle {
  font-size: var(--font-size-36);
  font-weight: var(--font-weight-700);
  line-height: 48px;
  margin-bottom: var(--spacing-40);
}

.categoryContainer {
  display: grid;
  gap: var(--spacing-52);
  justify-content: end;
  align-items: center;
  width: 100%;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(2, auto);
}