.card {
  min-width: 100%;
  max-height: 318px;
  overflow: hidden;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  display: flex;
  gap: var(--spacing-32);

  &:hover {
    background-color: var(--color-yellow);
  }
}

.image {
  position: relative;
  flex: 1;
  width: 490px;
  height: 318px;
}

.content {
  flex: 1;
  width: 100%;
  margin: auto 0;
  padding: var(--spacing-20);
}

.category {
  color: var(--color-purple);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-600);
  margin-bottom: var(--spacing-20);
}

.title {
  font-size: var(--font-size-36);
  font-weight: var(--font-weight-700);
  margin-bottom: var(--spacing-16);
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: var(--spacing-80);
  line-height: var(--spacing-24);
  color: var(--color-grey);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-400);
}