$space-768px: 768px;
$width-100: 100%;

.wrapper {
    h1 {
        font-size: var(--font-size-36);
        font-weight: var(--font-weight-700);
        line-height: var(--spacing-52);
        margin-bottom: var(--spacing-32);
    }

    p {
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-400);
        line-height: var(--spacing-28);
        color: var(--color-light-grey);
        margin-bottom: var(--spacing-32);
    }

    .header {
        background-color: var(--color-light-purple);
        text-align: center;
        padding: var(--spacing-80);

        h1,
        p {
            margin-bottom: var(--spacing-0);
        }
    }

    .main {
        width: $space-768px;
        margin: auto;
        padding: var(--spacing-80) var(--spacing-0);

    }

    @media (max-width: 768px) {
        h1 {
            font-size: var(--font-size-24);
            font-weight: var(--font-weight-600);
            line-height: var(--spacing-32);
            margin-bottom: var(--spacing-16);
        }

        p {
            font-size: var(--font-size-14);
            font-weight: var(--font-weight-400);
            line-height: var(--spacing-20);
            margin-bottom: var(--spacing-12);
        }

        .header {
            padding: var(--spacing-32) var(--spacing-12);
        }

        .main {
            padding: var(--spacing-32) var(--spacing-12);
            width: $width-100;
        }
    }
}